@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  padding-top: 235px;
  /* Inclusive and exclusive operators for a finer control over the intervals */
  /* Use ligatured operators if you fancy a slicker declaration */ }
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1025px), (min-resolution: 192dpi) and (min-width: 1025px), (min-resolution: 2dppx) and (min-width: 1025px) {
  body {
    background-color: white; } }

@media (min-width: 769px) and (max-width: 1023px) {
  body {
    background-color: white; } }

@media (min-width: 320px) and (max-width: 768px) {
  body {
    padding-top: 100px; } }

.no-padding {
  padding: 0; }

.navbar-default {
  background-image: url(../img/nav/menu-bg.jpg);
  padding: 20px 0 0 0;
  border: none; }
@media (min-width: 320px) and (max-width: 768px) {
  .navbar-default {
    padding: 20px 0; } }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  margin-top: -1px; }

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0 0 0 20px;
  font-size: 18px;
  line-height: 20px; }

.navbar-nav-yellow {
  background-color: #e5a819; }

.navbar-default .navbar-nav > li > a {
  color: #323232;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  font-size: 11px; }
@media (min-width: 320px) and (max-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 9px; } }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #462f25; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #462f25; }

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle {
  background-color: #e5a819; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #462f25; }

.register {
  margin-top: 20px;
  background-image: url(../img/nav/register-bg.jpg);
  color: white;
  padding: 30px 0; }
  .register p {
    font-size: 20px; }
  .register .form-control {
    color: black;
    background: rgba(255, 255, 255, 0.35); }

.pleca {
  position: absolute;
  z-index: 10;
  right: 0; }
