@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$font1:  'Open Sans', sans-serif;
$color1 : #e5a819; // amarillo

// transitions
@mixin transition($time){
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
